<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.min.css">
    <link rel="stylesheet" href="css/main.css">
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="col-md-12 header-img">
      <img src="img/header_bg.gif" class="header_image" alt="">
    </div>

    <div class="row">
      <div class="col-md-4 description">
        <h3 class="page-title">Welcome to Shape Calculator</h3>
        <p><strong>Shape Calculator is an interactive web application. To the right you will find the 3 step application.
        Follow the instructions in each step. Clicking cancel will take you back to step 1. Enjoy!</strong></p>

        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
        It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>

        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic
        life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the
        far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas.</p>
      </div>
      
        {{{ body }}}

      <div class="col-md-4 vertical-ad">
        <img src="http://placehold.it/120x240">
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
