<div class="col-md-3 description shape-select calc-box-margin">
  <div id="step_3">
    <h4>Step 3: Your Results</h4>
    <p class="text-justify">You have calculated the area of a <strong>{{ shape }}</strong> with a {{ shape_properties }}. Below is your result:</p>
    <p class="text-center lead"><strong>The Area is {{ calculated_area }}</strong></p>
    <div class="input-group">
      <span class="input-group-btn shape-calc-btn">
        <button type="button" class="btn btn-default" id="next_step_btn" onclick="window.location.href=1">Start Over</button>
      </span>
    </div>
  </div>
</div>
